<div class="container">
  <div [hidden]="submitted">
    <h1>Nowy projekt</h1>
    <form (ngSubmit)="onSubmit()" #projectForm="ngForm">
      <div class="form-group">
        <label for="name">Nazwa</label>
        <input type="text" class="form-control" id="name"
               required
               [(ngModel)]="model.name" name="name"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          Nazwa jest wymagana
        </div>
      </div>

      <div class="form-group">
        <label for="description">Opis</label>
        <input type="text" class="form-control" id="description" placeholder="O czym jest projekt"
               [(ngModel)]="model.description" name="description">
      </div>

      <div class="form-group">
        <label for="site">Strona www</label>
        <input type="text" class="form-control" id="site"
               [(ngModel)]="model.site" name="site">
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!projectForm.form.valid"
              (keydown.enter)="newProject()" (click)="newProject()">Wyślij</button>
    </form>
  </div>

  <div [hidden]="!submitted">
    <h3>Dodano projekt</h3>
  </div>

</div>
