<div class="container">
  <div *ngIf="task">
    <div class="form">
      <form #taskForm="ngForm">
<!--        topic-->
        <div class="form-group">
          <label for="topic">Temat</label>
          <div [hidden]="topic.valid || topic.pristine" class="alert alert-danger">Temat jest wymagany</div>
          <div [hidden]="!topicFlag" class="alert alert-danger">Temat musi zawierać od 3 do 20 znaków</div>
          <input type="text" class="form-control" id="topic"
                 required autofocus
                 [(ngModel)]="task.topic" name="name" #topic="ngModel">
        </div>
<!--        description-->
        <div class="form-group">
          <label for="description">Opis</label>
          <div [hidden]="!descriptionFlag" class="alert alert-danger">Opis może zawierać maks. 200 znaków</div>
          <input type="text" class="form-control" id="description"
                 [(ngModel)]="task.description" name="description">
        </div>
<!--        status-->
        <div class="form-group">
          <label for="status">Status</label>
          <select class="form-control" id="status"
                  required
                  [(ngModel)]="task.status" name="status"
                  #status>
            <option *ngFor="let status of statusList" [ngValue]="status"
                    [selected]="task.status.name===status.name">{{status.name}}</option>
          </select>
        </div>

<!--        priority-->
        <div class="form-group">
          <label for="priority">Priorytet</label>
          <select class="form-control" id="priority"
                  required
                  [(ngModel)]="task.priority" name="priority"
                  #priority>
            <option *ngFor="let priority of priorityList" [ngValue]="priority"
                    [selected]="task.priority.name===priority.name">{{priority.name}}</option>
          </select>
        </div>
<!--        user-->
        <div class="form-group">
          <label for="user">Wykonuje</label>
          <select class="form-control" id="user"
                  required
                  [(ngModel)]="task.user" name="user"
                  #user>
            <option *ngFor="let user of task.project.users" [ngValue]="user"
                    [selected]="task.user.username===user.username">{{user.username}}</option>
          </select>
        </div>

        <button type="submit" class="btn btn-default" (click)="saveTask()">Zapisz</button>

      </form>
    </div>
  </div>
</div>
