<div class="container">
  <div>
    <h3>Statusy:</h3>
    <a routerLink="/status/new">Dodaj</a>
    <table>
      <tr>
        <th>Nazwa</th>
        <th>Aktywne</th>
        <th>Wartość sortowania</th>
      </tr>
      <tr *ngFor="let status of statuses">
        <td><a routerLink="/status/{{status.id}}">{{status.name}}</a></td>
        <td>{{status.active}}</td>
        <td>{{status.sortingValue}}</td>
      </tr>
    </table>
  </div>

  <div>
    <h3>Priorytety:</h3>
    <a routerLink="/priority/new">Dodaj</a>
    <table>
      <tr>
        <th>Nazwa</th>
        <th>Aktywne</th>
        <th>Wartość sortowania</th>
      </tr>
      <tr *ngFor="let priority of priorities">
        <td><a routerLink="/priority/{{priority.id}}">{{priority.name}}</a></td>
        <td>{{priority.active}}</td>
        <td>{{priority.sortValue}}</td>
      </tr>
    </table>
  </div>
<!--  list of admins-->
  <div>
    <h3>Admini:</h3>
    <table>
      <tr>
        <th>Nazwa użytkownika</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th></th>
      </tr>
      <tr *ngFor="let user of admins">
        <td>{{user.username}}</td>
        <td>{{user.firstname}}</td>
        <td>{{user.lastname}}</td>
        <td><button (click)="removeAdmin(user)">Usuń</button> </td>
      </tr>
    </table>
  </div>
  <div>
    <button *ngIf="!viewUserSearch" (click)="setViewSearch(true)">Dodaj</button>
    <div *ngIf="viewUserSearch">
      <button (click)="setViewSearch(false)">Schowaj</button>
      <div class="user-search">
        <app-user-search (newUserEvent)="createAdmin($event)"></app-user-search>
      </div>

    </div>
  </div>
</div>
