<div class="container">
  <div *ngIf="project">
    <div class="form" *ngIf="project">
      <form #projectForm="ngForm">
        <div class="form-group">
          <label for="name">Nazwa</label>
          <input type="text" class="form-control" id="name"
                 required
                 [(ngModel)]="project.name" name="name">
        </div>
<!--          active-->
        <div>
          <div *ngIf="project.active">
            <span>Aktywny</span>
            <button type="button" class="btn btn-default" (click)="setActive(false);">Deaktywuj</button>
          </div>
          <div *ngIf="!project.active">
            <span>Nie aktywny</span>
            <button type="button" class="btn btn-default" (click)="setActive(true);">Aktywuj</button>
          </div>
        </div>
<!--        description-->
        <div class="form-group">
          <label for="description">Opis</label>
          <input type="text" class="form-control" id="description"
                 [(ngModel)]="project.description" name="description">
        </div>
<!--        site-->
        <div class="form-group">
          <label for="site">Strona www</label>
          <input type="text" class="form-control" id="site"
                 [(ngModel)]="project.site" name="site">
        </div>
<!--        users-->
        <div>
          <label>Użytkownicy</label>
          <div>
            <div *ngIf="project.users.length">
              <ul>
                <li *ngFor="let user of project.users">{{user.username}}</li>
              </ul>
            </div>
            <div *ngIf="!project.users.length">
              <span>Brak userów</span>
            </div>
          </div>
          <div>
            <button *ngIf="!viewUserSearch" (click)="setViewSearch(true)">Dodaj</button>
            <div *ngIf="viewUserSearch">
              <button (click)="setViewSearch(false)">Schowaj</button>
              <div class="user-search">
                <app-user-search (newUserEvent)="addUserToList($event)"></app-user-search>
              </div>

            </div>
          </div>

        </div>


<!--        button-->
        <button type="button" class="btn btn-default" (click)="saveChanges();">Zapisz zmiany</button>
      </form>
    </div>
    <br/>
<!--    tasks-->
    <div>
      <button (click)="newTask(project.id)">Dodaj zadanie</button>
      <div>
        <table>
          <tr>
            <th [appSort]="tasks" data-order="desc" data-name="topic"><span class="sort-by">Temat</span></th>
            <th [appSort]="tasks" data-order="desc" data-name="description"><span class="sort-by">Opis</span></th>
            <th [appSort]="tasks" data-order="desc" data-type="user"><span class="sort-by">Wykonuje</span></th>
            <th [appSort]="tasks" data-order="desc" data-type="status"><span class="sort-by">Status</span></th>
            <th [appSort]="tasks" data-order="desc" data-type="priority"><span class="sort-by">Priorytet</span></th>
            <th [appSort]="tasks" data-order="desc" data-name="createdAt"><span class="sort-by">Data utworzenia</span></th>
          </tr>
          <tr *ngFor="let task of tasks">
            <td><a routerLink="/project/{{project.id}}/task/{{task.id}}">{{task.topic}}</a></td>
            <td>{{task.description}}</td>
            <td>{{task.user.username}}</td>
            <td>{{task.status.name}}</td>
            <td>{{task.priority.name}}</td>
            <td>{{task.createdAt | date:'YYYY-MM-dd HH:mm'}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>


